* {
  margin: 0;
  padding: 0;
}
:root {
  --color: #a6acbf;
  --main-color: #212c55;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: #e0e8ff;
}
.page .container {
  width: 400px;
  height: 550px;
  background-color: white;
  border-radius: 15px;
}
@media (max-width: 767px) {
  .page .container {
    width: 300px;
  }
}
.page .container .pic img {
  width: 400px;
  width: -webkit-fill-available;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.page .container .content {
  font-family: sans-serif;
}
.page .container .content .title {
  margin-top: 30px;
  font-size: 23px;
  color: var(--main-color);
}
.page .container .content .descripion {
  margin: 15px 60px;
  font-size: 15px;
  color: var(--color);
}
.page .container .content .plan-box {
  background-color: #f8f9fe;
  width: fit-content;
  margin: 0 auto;
  border-radius: 10px;
}
.page .container .content .plan-box .box-content {
  padding: 10px;
}
.page .container .content .plan-box img {
  margin-right: 10px;
  width: 40px;
}
.page .container .content .plan-box .details {
  margin-right: 80px;
  display: inline-block;
  transform: translateY(-5px);
}
.page .container .content .plan-box .details .name {
  font-size: 14px;
  font-weight: 600;
  color: #303b5a;
}
.page .container .content .plan-box .details .cost {
  font-size: 14px;
  color: var(--color);
}
.page .container .content .plan-box button {
  text-decoration: underline;
  border: 0;
  outline: none;
  background-color: transparent;
  color: var(--main-color);
  font-weight: 600;
  transform: translateY(-10px);
  cursor: pointer;
}
.page .container .content .buy {
  padding: 15px 80px;
  margin: 25px 0;
  background-color: #382ae1;
  outline: none;
  border: none;
  border-radius: 10px;
  color: white;
}
.page .container .content a {
  display: block;
  color: var(--color);
  font-size: 15px;
  text-decoration: none;
}
